<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Title</title>
</head>

<div id="app">
    <div>
        <div>
            <label>Задайте початок діапазону</label>
            <input type="number" v-model="startOfDiapason">
        </div>
        <br>
        <div>
            <label>Задайте кінець діапазону</label>
            <input type="number" v-model="endOfDiapason">
        </div>

        <button @click="getNumber">Click</button>
        <hr>
        <p>Рандомне число:  <span>{{randomNumber}}</span></p>

    </div>

</div>
<body>
<script>
    const {createApp} = Vue

    createApp({
        data() {
            return {
                startOfDiapason:null,
                endOfDiapason:null,
                randomNumber:0,

            }
        },
        methods: {
            getNumber(){
                return this.randomNumber = Math.floor(Math.random()*(this.endOfDiapason-this.startOfDiapason+1))+this.startOfDiapason;
            }
        },
        computed: {}
    }).mount('#app')
</script>
</body>
</html>